CLIENT_GATEWAY_PORT=3000

PAYMENTS_MS_PORT=3003
# https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET=sk_test_*

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

# https://dashboard.stripe.com/test/webhooks/we_1PIu5q04BuAYidG81odd7mph
#  This is the webhook signing secret 
STRIPE_ENDPOINT_SECRET=whsec_*

AUTH_DATABASE_URL="mongodb+srv://USERNAME:PASSWORD@auth-microservice-db.bp38lxf.mongodb.net/?retryWrites=true&w=majority&appName=Auth-Microservice-DB"

# You can use here any word, but it must be difficult to find
JWT_SECRET=YourSecretOfJwt