[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-SergioGDev/client-gateway
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-SergioGDev/products-microservice
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservices-SergioGDev/orders-ms
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Nest-Microservices-SergioGDev/payments-ms
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Nest-Microservices-SergioGDev/auth-ms
